<header class="banner">
  <div class="container banner__container">
    <img src="/white-logo.svg" alt="" />
    <nav class="main-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact-me">Contact Me</a></li>
      </ul>
    </nav>
  </div>
</header>
