<!doctype html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main class="container container--main">
      <h1>404</h1>
    </main>
  </body>
</html>
