<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <main class="container container--main">
    <h1>About</h1>
    <div class="two-col">
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
          cumque aspernatur, doloremque inventore impedit minus, fugit, ab
          temporibus voluptatem dolore veniam cum amet harum officia? Vel
          delectus ab illum! Modi perferendis assumenda voluptates ratione
          tempora iure culpa illo veritatis exercitationem!
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit eos
          ab, pariatur esse quae ut fuga, a commodi dolorum quod minus
          reiciendis at sit! Eaque aut exercitationem labore magni corporis.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, amet?
          Commodi eligendi autem, maxime natus aliquam ut magnam! Non
          consectetur dolorum eius! Ab dolores, a labore, doloremque vero
          debitis blanditiis officia officiis quisquam nemo placeat.
        </p>
      </div>
      <img src="/about.jpg" alt="Mr Bean" />
    </div>
  </main>
</body>
