<!doctype html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main class="container container--main index">
      <div class="two-col std-bottom-padding">
        <h1 class="index__hero">
          Could this be a <strong>new generation</strong> of
          <strong>windows and doors?</strong>
        </h1>
        <img
          src="/amazed.jpg"
          alt="A woman that is absolutely amazed by the new generation of windows and doors"
          class="index__main-img"
        />
      </div>
      <div class="two-col">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
          ipsam ratione, voluptate nesciunt nihil sequi quibusdam et! Fugit
          quasi quidem nisi quibusdam, dolores tenetur nobis perferendis quas,
          porro odio quia animi blanditiis autem expedita ipsa nulla illum
          pariatur voluptatem sit?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
          corporis inventore veritatis suscipit illo non quod dolorum quaerat
          necessitatibus deleniti?
        </p>
      </div>
    </main>
  </body>
</html>
